
.nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  text-align: right;
  color: #CFCFCF;
}

.navbar-avatar img {
  width: 40px !important;
  height: 40px;
  max-height: none !important;
  border: 2px solid #FFBE4A;
  box-sizing: border-box;
  border-radius: 100px;
}

.no-display {
  display: none;
}

#image-picked {
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  width: 133px;
  height: 133px;
}

.center {
  margin: auto;
  padding: 10px;
  padding-left:50px;
  padding-right:50px;
  text-align: center;
  font-size: 14px;
}

.title {
  font-size: 2.5rem !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 13%;
}

.title-strong{
  color: #FFBE4A;
}

.content {
  margin-top: 1em;
}

.analyze {
  margin-top: -1em;
}

#result {
  margin-top: 10px;
  font-size: 16px;
}

.patient-id {
  color: black;
  text-decoration-line: underline;
}

.upload-label {
  margin-bottom: 10px;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #CFCFCF;
}

#prediction-score, #result-label {
  color: #91D369;
}

button.choose-file-button {
  max-width: 640px;
  height: 60px;
  border: 1px dashed #E4E4E4;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #CFCFCF;
}

button.analyze-button {
  width: 200px;
  height: 60px;
  background: #FFBE4A;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  border-style: none;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

button:focus {outline:0;}


/* Follows the navbar code */

.menu {
  text-transform: uppercase;
  color: #CFCFCF;
  display: flex;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 20px;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  align-self: center;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #CFCFCF;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

a {
  transition: color 0.5s ease;
}

.item:hover a {
  color: #FFBE4A;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}
